body {
  background-color: rgb(57, 169, 219);
  font-family: Rubik, Arial;
}

form {
  text-align: center;
  line-height: 30px;
  height: 80%;
  overflow: auto;
}

form hr {
  width: 15%;
}

h1 {
  text-align: center;
}

#overlay {
  width: 80%;
  margin: 3% auto;
  height: 950px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 40px;
}

#logo {
  height: 170px;
  display: block;
  margin: auto;
  padding-top: 10px;
  width: 170px;
}

.toppings label,
.cheesy label {
  margin-right: 25px;
}

#burger {
  margin-left: auto;
  margin-right: auto;
  max-width: 35%;
  display: block;
}

#search {
  /* width: 8em;
  height: 2em; */
  background-color: rgb(95, 94, 94);
  color: white;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 20px;
  height: 30px;
  width: 150px;
  margin-bottom: 15px;
}

footer {
  text-align: center;
  width: 100%;
  min-height: 30px;
  font-family: sans-serif;
  font-size: small;
  margin-bottom: 25px;
  background-color: rgb(149, 172, 233);
  padding: 2px;
}
